<h3>{{title}}</h3>

{{#menu}}
  <div>
    <img src="/src/images/{{image}}">
  </div>
  <div>
    <p><span>{{name}}</span></p>
    <p><span>{{cost}} SEK</span></p>
  </div>


{{/menu}}

<span>Total {{total}} SEK</span>
<hr>

<a href="./print" class="btn btn-primary" role="button">Print Full Recipe</a>

<button id="backButton" class="btn btn-danger">Back</button>
