{{!Inject receipt template here}}
<div id="receipt"></div>
<hr>

<center>
    {{!Choose what kind of dish you want}}
    <div class="input-field col s12">
        <select id="selectType">
            <option value="1">starter</option>
            <option value="2">main dish</option>
            <option value="3">dessert</option>
        </select>
        <label>Select type</label>
    </div>
    {{!Buttons to add or remove the number of guests}}
    <button
        id="plusButton"
        class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </button>
    <span id="numberOfGuests">{{numberOfGuests}}</span>
    <button
        id="minusButton"
        class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">remove</i>
    </button>
</center>
<hr>

{{!Searchable field}}
<div class="input-field col s6">
    <input id="search" type="text" class="validate">
    <label for="search">Search</label>
</div>
<hr>

{{!inject dishes here}}
<div id="dishes"></div>

<a
    href="./confirm"
    class="waves-effect waves-light btn-large"
    role="button">
    Confirm dinner
</a>
