{{!Inject receipt template here}}
<div id="receipt"></div>
<hr>

<h1>{{dish.name}}</h1>
{{!Inject ingredients template here}}
<div id="ingredients"></div>
<hr>

<div style="margin-bottom: 20px;">
  <img src=/src/images/{{dish.image}} />
</div>
<div>
  <p>{{dish.description}}</p>
</div>
<button id="addDishButton" data-id="{{dish.id}}" class="btn btn-success">Add</button>
<button id="backButton" class="btn btn-danger">Back</button>
