<div class="row">
    {{#dishes}}
        <div class="col s6 m6">
            <h3 class="header">{{name}}</h3>
            <div class="card horizontal">
                <div class="card-image">
                    <img src=/src/images/{{image}}>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{description}}</p>
                    </div>
                    <div class="card-action">
                        <a
                            href="./create/{{id}}"
                            class="waves-effect waves-light btn-large"
                            role="button">
                            Info
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/dishes}}
</div>
