<h3>{{title}}</h3>
<hr>
<table class="table">
  <thead>
      <tr>
          <th data-field="amount">Amount</th>
          <th data-field="unit">Unit</th>
          <th data-field="name">Name</th>
          <th data-field="cost">Cost</th>
      </tr>
  </thead>
  <tbody>
      {{#ingredients}}
          <tr>
              <td>{{amount}}</td>
              <td>{{unit}}</td>
              <td>{{name}}</td>
              <td>{{cost}} SEK</td>
          </tr>
      {{/ingredients}}
      <tr>
          <td>Sum</td>
          <td>{{total}} SEK</td>
      </tr>
  </tbody>
</table>
