<h3>{{title}}</h3>

{{#menu}}
    <img src="/src/images/{{image}}">
    <span>{{name}}</span>
    <span>{{description}}</span>
    <div>
        <p>Preparation</p>
        <div>{{description}}</div>
    </div>
{{/menu}}

<button id="backButton" class="btn btn-danger">Back</button>
<button
    id="printButton"
    class="btn btn-success">
    <i class="material-icons">Print</i>
</button>
