<h3>{{title}}</h3>

{{#menu}}
    <img src="{{image}}">
    <span>{{title}}</span>
    <span>{{instructions}}</span>
    <div>
        <p>Preparation</p>
        <div>{{instructions}}</div>
    </div>
{{/menu}}

<button id="backButton" class="btn btn-danger">Back</button>
<button
    id="printButton"
    class="btn btn-success">
    <i class="material-icons">Print</i>
</button>
