<h3>{{title}}</h3>

{{#menu}}
    <img src="/src/images/{{image}}">
    <span>{{name}}</span>
    <span>{{description}}</span>
    <div>
        <p>Preparation</p>
        <div>{{description}}</div>
    </div>
{{/menu}}

<button
    id="backButton"
    class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">arrow_back</i>
</button>
<button
    id="printButton"
    class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">print</i>
</button>
