<h3>{{title}}</h3>
<hr>
<table class="table">
  <thead>
      <tr>
          <th data-field="name">Name</th>
          <th data-field="cost">Cost</th>
      </tr>
  </thead>
  <tbody>
    {{#menu}}
        <tr>
            <td>{{title}}</td>
            <td>{{cost}} SEK</td>
        </tr>
    {{/menu}}
    <tr>
      <td>Sum</td>
      <td>{{total}} SEK</td>
    </tr>
  </tbody>
</table>
